:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-mode: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  
}
body{
    background-color: var(--Very-Light-Gray);
    font-family: "Nunito Sans", sans-serif;
}
.white {
  background-color: var(--White);
  color: var(--Very-Dark-Blue-Light-mode);
}

.veryLightGray {
  background-color: var(--Very-Light-Gray);
}

.veryDarkBlue {
  background-color: var(--Very-Dark-Blue);
}
.darkBlue {
  background-color: var(--Dark-Blue);
  color: var(--White);
}
.nav {
  display: flex;
  padding-bottom: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
  position: relative;
  z-index: 1;
}
.heading {
  padding-top: 3vh;
  margin-right: auto;
  
  font-weight: 800;
}
.mode {
  padding-left: 1vw;
  font-weight: 800;
  cursor: pointer;
}
.theme {
  display: flex;
  padding-top: 3vh;
}
.mode p {
  padding-left: 1vw;
}
.countries {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  
}
.select{
    border: 0;
    padding: 1vw;
}
input{
    border: 0;
    padding: 1vw;
    width:35vw;
}
input:focus{
  outline: none;
}
.search {
    color: black;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
    padding-left: 1vw;
    padding-top: 1vh;
}
.countries .formId {
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  padding-left: 5vw;
}

.countries .formId .dropdown {
  /* box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413); */
  margin-right: 4vw;
}
.countries .formId .dropdown select{
  box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
}
.countries .countryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5vh;
}
.countries .countryCard {
  margin-right: 4vw;
  margin-bottom: 3vh;
  padding-bottom: 2vh;
  height: 320px;
  width:350px;
  box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
}

.countries .countryCard ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  padding-top: 2vh;
  padding-left: 1vw;
  /* padding-right: 2vw; */
  line-height: 1.5;
}

.countries .countryCard .title {
  font-weight: 600;
}
.countries .countryCard .countryName{
    padding-left: 1vw;
    font-weight: 800;
    /* padding-right: 2vw; */
}
.countries .countryCard img{
    width: 100%;
    height:200px;
}

@media(max-width:750px){
  .countries .formId{
    display: flex;
    flex-direction: column;
    width: 85vw;
  }
  .search{
    display: flex;
    margin-bottom: 2vh;
    width:100%;
  }
  input{
    width:94%;
  }
  .countries .formId .dropdown{
    box-shadow: 0;
  }

  .countries .countryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0vw;
  }

}
